.listItem{
    display: flex;
    justify-content: space-between;
    padding: 3px 8px;
    border-bottom: 1px;
}

.button-delete{
    margin-right: 3px;
    background-color: #f05454;
    color: #fff;
    border:none;
    border-radius: 3px;
}

.button-save{
    background-color: #5aa469;
    color: #fff;
    border:none;
    border-radius: 3px;
}

.button-edit,
.button-edit:focus,
.button-edit:active{
    background-color: #ffa700;
    color: #fff;
    border:none;
    border-radius: 3px;
}